:root {
    --color: #FFFFFF ;
    --background: #000433;
    --btn-main-color: #00B2D5 ;
    --btn-second-color: #8AEF07;
    --default-font: 'Lato', sans-serif; 
    --color-brand-secondary: red;
   }